@*@model u21454249_HW06.Models.product

@{
    ViewBag.Title = "Details";
}*@
<h2>Details</h2>
<div class="panel panel-default" >
    <div class="panel-heading" id="name"></div>
    <div class="panel-body" text-align : center;>
        <p>Name      <span id="name2" ></span></p>
        <p>Year      <span id="year"></span></p>
        <p>Price     <span id="price"></span></p>
        <p>Brand     <span id="brand"></span></p>
        <p>Catergory <span id="catergory"></span></p>

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Store</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody id="stores">
            </tbody>
        </table>
    </div>

</div>